.card-container-dc{
    width: 300px;
    overflow: hidden;
    box-shadow: 0 0 15px -5px;
    transition: 0.3s;
    animation: ease-in-out;
    height: 25.7rem;
    margin: 0 10px 40px 25px;
}

.card-container-dc:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px 0;
}
.image-container-dc{
    overflow: hidden;
    height: 16rem;
    position: relative;
}

.image-container-dc img{
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    transition: all 2s;
    transform: scale(1.8);
}

.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
    object-fit: cover;
}

h3{
    margin: 0;
    padding: 0;
}
span{
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

.card-title{
    margin-bottom: 0.5rem;
}

.card-btn{
    width: 96%;
    margin: 5px 5px 5px 5px;
    
}

.bg-display{
    background-color: #242F40;
    width: 100%;
    height: auto;
    margin-top: -230px;
    position: absolute  ;
}

.main-bg-display{
    background-color: #F7F7F7;
    box-shadow: 0 0 20px 0 black;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 250px;
    margin-bottom: 50px;
}

.h2-display{
    width: 100%;
    text-align: center;
}

.footer{
    margin-top: 40px;
    width: 100%;
    opacity: 0.75;
    background-color: #f7f7f7;
    color: black;
    font-family: 'Roboto', sans-serif;
}